<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ishan387.spotyourtrain" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HttpAct"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.HTTPACT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PnrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.PNRACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".PnrResult"
            android:label="PNR Details"
            android:screenOrientation="portrait" >
        </activity>
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".pnrback"
            android:label="@string/title_activity_pnrback" >
        </activity>
        <activity
            android:name=".TrainBetweenStations"
            android:label="@string/title_activity_train_between_stations"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TbsMainPage"
            android:label="Train Between Stations"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".RouteResult"
            android:label="Route"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SeatAvailResult"
            android:label="@string/title_activity_seat_avail_result"
            android:screenOrientation="portrait" >
            >
        </activity>
        <activity
            android:name=".SeatAvailMainPage"
            android:label="@string/title_activity_seat_avail_main_page"
            android:screenOrientation="portrait" >
            >
        </activity>
        <activity
            android:name=".WithinHourResult"
            android:label="@string/title_activity_within_hour_result" >
        </activity>
        <activity
            android:name=".WithinHourMainPage"
            android:label="@string/title_activity_within_hour_main_page" >
        </activity>
        <activity
            android:name=".OfflineRouteList"
            android:label="@string/title_activity_offline_route_list" >
        </activity>
        <activity
            android:name=".OfflineRouteResult"
            android:label="@string/title_activity_offline_route_result" >
        </activity>
        <activity
            android:name=".Offlinetbs"
            android:label="@string/title_activity_offlinetbs" >
        </activity>


    </application>

</manifest>
